.container
  margin: 0 auto
  width: 600px
  font-family: helvitca
  
  header
    width: 520px
    margin: 55px auto
    .logo, .title_block
      display: inline-block
      vertical-align: middle
    .title_block
      margin-left: 30px
      .title
        color: $c-grey-deep
        font-size: 36px
        letter-spacing: 3px
        line-height: 40px
      .desc
        color: $c-grey-regular
        font-size: 20px
        line-height: 24px
  .content
